@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}
.top {
  background-color: #363543;
  width: 100%;
  height: 625px;
}
.heading {
  padding: 5px;
  position: relative;
  left: 120px;
  /* margin: 40px; */
}
.links a {
  text-decoration: none;
  padding: 5px;
  margin-right: 20px;
  color: #737379;
  font-size: 16px;
}
/* .flex {
  display: flex;
  justify-content: center;
} */
nav {
  display: inline-block;
}
.links {
  padding-left: 100px;
  padding-top: 50px;
  margin-right: 20px;
  position: relative;
  bottom: 25px;
  left: 40px;
  cursor: pointer;
  /* color: #c7c0c0; */
}
.links a:hover {
  color: #fff;
}
.first {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.logo {
  margin-left: 10px;
  position: relative;
  top: -5px;
}
.logo img {
  width: 50px;
  /* height: 40px; */
}
.icons i {
  color: #b9b6b6;
  margin-right: 20px;
  position: relative;
  right: 200px;
  top: 24px;
  font-size: 25px;
  cursor: pointer;
}
.icons i:hover{
  color: #fff;
}
span.text {
  font-size: 20px;
  position: relative;
  bottom: 30px;
  font-weight: bolder;
  color: #fff;
}
span.text1 {
  font-size: 40px;
  position: relative;
  bottom: 30px;
  font-weight: bolder;
  color: #fff;
}
.name {
  font-weight: bolder;
  color: #fff;
  border-bottom: 5px solid yellow;
}
.grey {
  color: #c7c0c0;
}
.heading h1 {
  font-size: 50px;
  line-height: 100px;
  letter-spacing: 2px;
  position: relative;
}
.para{
  font-size: 16px;
  width: 250px;
  color: #b3acac;
  margin-right: 20px;
  position: relative;
  bottom: 25px;
}
.mid{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
}
.imageBox{
  position: relative;
  right: 250px;
  bottom: 20px;
}
.imageBox img{
  height: 400px;
  width: 400px;
}
.content h3{
  color: #c7c2c2;
}
.content p{
  color: #c7c2c2;
  font-size: 16px;
}
.content{
  position: relative;
  right: 170px;
}
.content a{
  text-decoration: none;
 color: rgb(211, 211, 25);
}
#right{
  padding-left: 10px;
  color: rgb(211, 211, 25);
  font-size: 20px;
  cursor: pointer;
}
.social-icons i{
  color: rgb(192, 192, 15);
  margin: 7px;
  padding: 4px;
  background-color: #312f2f;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.social-icons i:hover{
   color: #fff;
}
.relative{
  position: relative;
  left: 57px;
}

.all{
  background-color: #282834;

}

.four-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3f3e4e;
  position: relative; 
   left: 140px;
  bottom: 30px; 
   width: 80%;
   height: 100px;
   box-shadow: 0px 0px 3px 2px grey;
}
.text{
  text-align: center;
  position: relative;
  top: -20px;
  /* left: 3px; */
  /* padding: px; */
  /* bottom: 11px; */
}
.google{
  width: 100px;
  height: 100px;
}
.common{
  background-color: #363545;
}
.four-icons img{
 width: 60px;
 height: 60px;
 /* padding-right: 10px; */
}
.circle{
  position: relative;
  left: 140px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #2d2d39;
}
.par{
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.onechild{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;

}

.twochild h2{
  color: #f9fafd;
}
.twochild p{
  color: #6e6e7a;
}
.onechild h1{
  color: #f9fafd;
  line-height: 40px;
  font-size: 30px;
}
.onechild p{
  color: #6e6e7a;
}
.twochild{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  
} 
.allP{
  display: flex;
  justify-content: space-around;
}
.allP h2{
color: #ffa201;
/* justify-self: flex-end; */
}
.twochild p,h2{
  padding-left: 10px;
}
.twochild h2{
  font-size: 20px;
}
.par img{
  width: 200px;
}

.ptforw2 img{
  width: 200px;
}
.parent3{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  align-items: center;

}
.child-1,.child-2,.child-3{
  background-color: #3f3e50;
  margin: 10px;
  padding: 20px;
  height: 250px;
  width: 22%;
  position: relative;
  top: 50px;
  /* opacity: 0.7; */
  /* text-align: center; */
}
.parent3 img{
  width: 50px;
}
.parent3 p{
  font-size: 16px;
}
.parent3 h2{
  color: #fff;
  font-weight: bolder;
}
.parent3 p{
  color: #707072;
}

.img1,.img2,.img3 {
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  padding-bottom: 20px;
}
/* .twochild p{
  position: relative;
  top: 35px;
  right: 140px;
} */
#icon{
  color: rgb(211, 211, 25);
  font-size: 20px;
  cursor: pointer;
  /* margin-left: auto; */
  justify-self: flex-end;
  margin-left: auto;
  position: relative;
  left: 30px;
}
.twop{
  /* right: 100px; */
  /* position: absolute; */
  /* right: 100px; */
}

.footer{
  width: 100%;
  height: 10vh;
  background-color: #363642;
  z-index: 1;
  /* position: relative;
  bottom: 20px; */
  /* opacity: 0.7; */
}